<div class="contenedor">
	<div *ngIf="error" class="alert alert-danger" role="alert">
		Porfavor ingresa un PIN!
	</div>
	<input [(ngModel)]="pin" type="text" class="form-control input-ingresar mb-3" placeholder="PIN del juego">
	 
		<button class="btn btn-secondary mt-3" (click)="ingresar()" style="width: 200px; display: block;">Ingresar</button>
	 
</div>
<div class="fixed-bottom">
	<p class="text text-center">
		Crea tu propio cuestonario GRATIS <a class="link" routerLink="/usuario/login">aquí</a>
	</p>
</div>