
<div class="d-flex justify-content-center mt-3">
	<button routerLink="/dashboard/addquizz" class="btn btn-primary">Nuevo</button>
</div>
<div class="container">
	<div class="row mt-3">
		<div class="col-12">
			<div class="card">
				<div class="card-body text-center">
					<table class="table">
						<thead>
							<tr>
								<th>Titulo</th>
								<th>Catn. preguntas</th>
								<th>Código</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Mundial de futbol</td>
								<td>10</td>
								<td><span class="badge bg-black">MGH5Y7</span></td>
								<td>
									<a href="#" alt="" class="me-2"><i class="bi bi-search text-info"></i></a>
									<a href="#" alt="" class="me-2"><i class="bi bi-bar-chart-line-fill text-success-emphasis"></i></a>
									<a href="#" alt="" class=""><i class="bi bi-trash3 text-danger-emphasis"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>